<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.toastmasters.sstmc.dao.ReservationDao">

  <insert id="add" parameterType="Reservation">
    insert into Reservation(date,name,role,club) values(#{date},#{name},#{role},#{club});
  </insert>
  <delete id="deleteAll">
    delete from Reservation;
  </delete>
  <select id="list" resultType="Reservation">
    select * from Reservation;
  </select>
  <select id="getByDate" resultType="Reservation">
    select * from Reservation where date=#{date};
  </select>

</mapper>